body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quadrado {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulsar 2s infinite alternate, girar 4s infinite linear;
  }
  
  @keyframes pulsar {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  @keyframes girar {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  